<!DOCTYPE html>
<html>
<head>
	<title>Dog Page</title>
</head>
<body>
	<h1> Doggy DashBoard </h1>
	<% if(messages.registration) { %>
     <% for (var x of messages.registration) { %>
      <h3><%= x %></h3>
     <% } %>
 <% } %>

 <h2> List of all dogs </h2><br>
 <% for(var i =0; i < lol.length; i++) { %>
 <%=lol[i].name%><br>
 <%=lol[i].breed%><br>
 <%=lol[i].age%><br><form action='/dogs/destroy/ObjectId("<%=lol[i]._id%>")' method="post">
 	<input type="submit" value="delete">
 </form><br><br>

 <% } %>


</body>
</html>